AddDefaultCharset UTF-8
DirectoryIndex index.php index.html

RewriteEngine on

RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.jpeg|\.gif)$ [NC]
# RewriteCond %{REQUEST_URI} !(\.php)$ [NC]


RewriteCond %{REQEST_FILENAME} !-f
RewriteCond %{REQEST_FILENAME} !-d
RewriteRule . index.php
